@{
    ViewData["Title"] = "Sales System for begginers in C#";

}
<h2>@ViewData["Title"]</h2>


<p>
    <strong>Trainee:</strong>
    @ViewData["Message"]
</p>
<p>For information contact me at: <a>diegodario@seed.pr.gov.br</a> </p>
